*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
/*.hero{
    width: 100%;
    height: 100vh;
}*/
/*position - fixed,absolute,relative,sticky,static*/
/* display - block,inline,inline-block,flex,grid,inline-grid,flexbox*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    background-color: #A6E6F4;
    z-index: 1;
}
body{
    z-index: 0;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav{
    display: inline;
}
ul {
    height: 100%;
    /*overflow: hidden;*/
}
nav ul li{
    padding:20px 20px;
    display: inline-block;
    list-style-type: none;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover{
    color: deeppink;
}
/*home section styling*/
.Home{
    display: flex;
    background-color: #d1d8e0;
    width: 100%;
    height: 100vh;
}


.container{
    margin-left: 8%;
    margin-top: 10%;
}
h3{
    font-size: 30px;
    font-family: Inter;
    margin-bottom: 20px;
}
h4{
    font-size: 25px;
    font-family: Inter;
}
h5{
    font-size: 20px;
    font-family: Gideon Roman;
}
h1{
    font-size: 50px;
    font-family: Kaisei Opti;
    margin-bottom: 20px;
    padding: 20px;
}
h2{
    font-size: 40px;
    font-family: Inter;
}
p{
    font-family: Inter;
    font-size: 100%;
    padding: 20px;
}
.profile{
    width: 900px;
    height: 300px;
    position: absolute;
    bottom: 90px;
    right: 55px;

}
.home-portrait{

    height: 480px;
    width: 430px;
    position: absolute;
    left: 80%;
    bottom: 90px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;
    border-radius: 50%;
}
.home-para{
    font-size: 25px;
}



#About {
    height: auto;
    display: flex;
    justify-content: flex-end;
    background-color: #d1d8e0;

}

#about-container{
    width: 900px;
    height: 300px;
    position: absolute;
    bottom: 90px;
    left: 55px;
}

#about-portrait {

    position: absolute;
    width: 400px;
    height: 520px;
    left: 150px;
    top: 487px;

}

#about-text {
    position: relative;
    margin-right: 130px;
}
.about-desc {
    padding: 15px;
    margin-left: 50px;
    list-style-type: disc;
    font-family: Inter;
    font-size: 18px;
    line-height: 24px;
}
/*Education*/
#Education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    width: auto;
    height: auto;
    background-size: cover;
    background-color:#d1d8e0;
}

h1#desc {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
    text-align: left;
}

.details{
    text-align: center;
    width: 440px;
    height: 150px;
    display: inline-block;
    background: #ecf0f1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;

}

.details-data {
    font-family: 'Work Sans';

}

#star1 {
    top: 210px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#star2 {
    top: 370px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#star3 {
    bottom: 440px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#star4 {
    bottom: 260px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#line {
    left: 590px;
    top: 110px;
    height: 72%;
    position: absolute;
}

#ellipse {
    margin-top: 20px;
    align-self: end;
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;
    border-radius:80%;

}

#ellipse2 {
    grid-column: 2 / 2 ;
    grid-row: 3 / 3;
    border-radius:80%;
}

#ellipse3 {
    grid-column: 1 / 1 ;
    grid-row: 4 / 4;
    border-radius:80%;
}

#ellipse4 {
    margin-bottom: 30px;
    grid-column: 2 / 2 ;
    grid-row: 5 / 5;
    border-radius:80%;
}
/* skills */
.sub-class{

    grid-row: 6 / 6;
    grid-column: 1 / span 2;


}
#skill-img{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#sub h2 {
    margin-left: 30px;
}


.skills{
    position: relative;
    width: 50px;
    height: 50px;
    size: auto;

}
/*Services*/

#Services {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color:#d1d8e0;
    position: relative;
    justify-content: flex-end;

}
.serve-headline{
    left: 50%;
}

#categoryS {
    /*position: absolute;*/
    top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #d1d8e0;
}

.box {
    padding: 20px;
    background-color: #D9D9D9;
    width: 227px;
    height: 300px;
    border-radius: 10px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    transition: all ease 0.2s;

}

.ser-name {
    font-family: Inter;
    position: relative;
    margin-left: 40px;
    /*top: 230px;*/

}


#ui-image{
    width: 220px;
    height: 180px;
    /*position: absolute;*/

}
#web-image{
    width: 220px;
    height: 180px;
    /*position: absolute;*/
}
#app-image{
    width: 220px;
    height: 180px;
    /*position: absolute;*/
}

.services-box:hover {
    cursor: pointer;
    filter: none;
    transform: scale(0.99);
}



#plan {

}

/*Project*/

#Projects{
    width: auto;
    height: auto;
    display: flex;
    background-color:#d1d8e0;


}
.proj-name{
    position: relative;
    /*left:50%;*/
    /*top:10px;*/
}






/*Contact*/

#Contacts{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    background-color:#d1d8e0;

}
.topic{
    position: relative;
    left: 45%;
    top: 10px;
    font-size: 20px;
    font-family: Inter;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}



