*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
/*.hero{
    width: 100%;
    height: 100vh;
}*/
/*position - fixed,absolute,relative,sticky,static*/
/* display - block,inline,inline-block,flex,grid,inline-grid,flexbox*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    background-color: #A6E6F4;
    z-index: 1;
}
body{
    z-index: 0;
}

nav{
    display: inline;
}
ul {
    height: 100%;
    /*overflow: hidden;*/
}
nav ul li{
    padding:20px 20px;
    display: inline-block;
    list-style-type: none;
    height: 100%;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover{
    color: deeppink;
}

#check{
    display: none;
}
nav .icon-b{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-b .lines{
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

/*home section styling*/
.Home{
    display: flex;
    background-color: #d1d8e0;
    width: 100%;
    height: 100vh;
}

.home-p{
    font-size: 25px;
}


.container{
    margin-left: 8%;
    margin-top: 10%;
}
h3{
    font-size: 30px;
    font-family: Inter;
    margin-bottom: 20px;
}
h4{
    font-size: 25px;
    font-family: Inter;
}
h5{
    font-size: 20px;
    font-family: Gideon Roman;
}
h1{
    font-size: 50px;
    font-family: Kaisei Opti;
    margin-bottom: 20px;
    padding: 20px;
}
h2{
    font-size: 40px;
    font-family: Inter;
}
p{
    font-family: Inter;
    font-size: 100%;
    padding: 20px;
}
.profile{
    width: 900px;
    height: 300px;
    position: absolute;
    bottom: 90px;
    right: 55px;

}
.home-portrait{

    height: 460px;
    width: 410px;
    position: absolute;
    left: 82%;
    bottom: 90px;
    transform: translateX(-60%);
    transition: bottom 1s,left 1s;
    border-radius: 50%;
}
.home-para{
    font-size: 25px;
}


/*ABOUT*/
#About {
    height: auto;
    display: flex;
    justify-content: flex-end;
    background-color: #d1d8e0;

}

#about-container{
    width: 900px;
    height: 300px;
    position: absolute;
    bottom: 90px;
    left: 55px;
}

#about-portrait {

    position: absolute;
    width: 400px;
    height: 520px;
    left: 150px;
    top: 487px;

}

#about-text {
    position: relative;
    margin-right: 130px;
}
.about-desc {
    padding: 15px;
    margin-left: 50px;
    list-style-type: disc;
    font-family: Inter;
    font-size: 18px;
    line-height: 24px;
}
/*Education*/
#Education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    width: auto;
    height: auto;
    background-size: cover;
    background-color:#d1d8e0;
}

h1#desc {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
    text-align: left;
}

.details{
    text-align: center;
    width: 440px;
    height: 150px;
    display: inline-block;
    background: #ecf0f1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-self: center;
    align-self: center;

}

.details-data {
    font-family: 'Work Sans';

}

#star1 {
    top: 210px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#star2 {
    top: 370px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#star3 {
    bottom: 440px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#star4 {
    bottom: 260px;
    width: 35px;
    height: 35px;
    position: absolute;
}

#line {
    left: 590px;
    top: 110px;
    height: 72%;
    position: absolute;
}

#ellipse {
    margin-top: 20px;
    align-self: end;
    grid-column: 1 / 1 ;
    grid-row: 2 / 2;
    border-radius:80%;

}

#ellipse2 {
    grid-column: 2 / 2 ;
    grid-row: 3 / 3;
    border-radius:80%;
}

#ellipse3 {
    grid-column: 1 / 1 ;
    grid-row: 4 / 4;
    border-radius:80%;
}

#ellipse4 {
    margin-bottom: 30px;
    grid-column: 2 / 2 ;
    grid-row: 5 / 5;
    border-radius:80%;
}
/* skills */
.sub-class{

    grid-row: 6 / 6;
    grid-column: 1 / span 2;


}
#skill-img{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#sub h2 {
    margin-left: 30px;
}


.skills{
    position: relative;
    width: 50px;
    height: 50px;
    size: auto;

}
/*Services*/

#Services {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-color:#d1d8e0;
    position: relative;
    justify-content: flex-end;

}
.serve-headline{
    left: 50%;
}

#categoryS {
    /*position: absolute;*/
    top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #d1d8e0;
}

.box {
    padding: 20px;
    background-color: #D9D9D9;
    width: 227px;
    height: 300px;
    border-radius: 5px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    transition: all ease 0.2s;

}

.ser-name {
    font-family: Inter;
    position: relative;
    margin-left: 40px;
    /*top: 230px;*/

}


#ui-image{
    width: 220px;
    height: 180px;
    /*position: absolute;*/

}
#web-image{
    width: 220px;
    height: 180px;
    /*position: absolute;*/
}
#app-image{
    width: 220px;
    height: 180px;
    /*position: absolute;*/
}

.box:hover {
    cursor: pointer;
    filter: none;
    transform: scale(0.99);
}

.plans{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #d1d8e0;
    padding-bottom: 30px;
}
.chose{
    color:orangered;
    padding: 30px;
}
.pBox{
    padding:20px;
    background-color: #D9D9D9;
    width: 227px;
    height: 300px;
    border-radius: 25px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
    transition: all ease 0.2s;
}
.ser-plan{
    font-family: cursive;
    position: relative;
    margin-left: 55px;
    font-weight: lighter;
}
.plan-list{
    list-style-type: none;
    padding: 8px;
    font-size: 20px;
    line-height: 0.8cm;
    font-family: cursive;
    font-style: italic;


}
.plan-fee{
    font-size: 30px;
    margin-left: 55px;
    font-family: cursive;
}

/*Project*/

#Projects{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    background-color:#d1d8e0;
    position: relative;
    background-size: cover;
    justify-content: space-evenly;


}
.proj-name{
    position: relative;
    /*left:45%;*/
    grid-row: 1/1;
    grid-column: 2/2;
    text-align: center;
    /*justify-content: space-between;*/
    padding: 20px;
}
.firstC{
    position: relative;
    grid-column: 1/1;
    justify-items: center;
    grid-row: 2/2;
    display: flex;
    justify-self: center;
}
.middleC{
    grid-column: 2/2;
    align-items: center;
    display: flex;
    grid-row: 2/2;
    justify-content: center;

}

.middleC div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.endC{
    grid-column: 3/3;
    justify-items: center;
    grid-row: 2/2;
    display: flex;
    justify-content: space-around;
}
.backBtn{
    width: 55px;
    height: 55px;
    align-self: center;
    place-self: center;

}
.nextBtn{
    width: 55px;
    height: 55px;
    align-self: center;
    place-self: center;

}
.hotelProj{
    width: 460px;
    height: 350px;
    align-self: center;
    place-self: center;

}
.keelsSMarketProj{
    width: 460px;
    height: 350px;
    align-self: center;
    place-self: center;

}
.endR{
    grid-column: 2/2;
    justify-items: center;
    display: flex;
    grid-row: 3/3;
    justify-content: space-around;
    font-size: 30px;
}
.download{
    margin-top: -61px;
    margin-left: 356px;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*margin: 4px 2px;*/
    transition-duration: 0.4s;
    cursor: pointer;
    top: 300px;
    justify-items: end;
    align-self: end;
    place-self: end;


}
.button1{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}



/*Contact*/

#Contacts{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color:#d1d8e0;

}
.topic{
    position: relative;
    left: 40%;
    top: 10px;
    font-size: 20px;
    font-family: Inter;


}
.location{
    width: 100%;
    left: 30px;
    padding: 30px 20px;
}

.location > iframe {
    width: 100%;
}

#info{
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.my-info{
    font-family: fantasy;

}
.info-detail{
    display: inline;
    font-size: 25px;
}
.imageC{
    width: 35px;
    height: 35px;
}
#info div{
    margin: 15px 0;
}
.information{
    margin-top: -151px;
}
#sendMsgForm>form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    column-gap: 100px;
}

#sendMsgForm>form>input{
    height: 50px;
    margin: 20px;
}

#sendMsgForm>form>input[id='name']{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
#sendMsgForm>form>input[id='email']{
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}
#sendMsgForm>form>input[id='subject']{
    grid-row: 3 / 3;
    grid-column: 1 / 1;
}
#sendMsgForm>form>textarea{
    grid-row: 4 /  4;
    grid-column: 1 / 1;
    margin: 20px;
}

#sendMsgForm>form #contact-btn{
    color: #1c222e;
    all: unset;
    height: auto;
    width: fit-content;
    border-radius: 5px;
    grid-row: 5 / 5;
    grid-column: 1 / 1;
    margin: 20px 20px 20px 150px;
    padding: 0 40px;
    transition: background-color 0.5s;
}

#contact #contact-btn:hover {
    color: whitesmoke;
    background-color: #202931;
    cursor: pointer;
    opacity: 0.8;
}
/*footer*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #d1d8e0;
    padding: 15px;
}
.ftrec{
    padding-top: 20px;
    position: center;
    width: 600px;
    height: 60px;
    border-radius: 35px;
    background-color: #92BEC8;
    border: transparent;
    align-items: center;
    justify-content: space-around;
    display: flex;


}


/*RESPONSIVE*/
@media all and (min-width: 320px)  and (max-width:426px ){


    h3{
        font-size: 21px;
        font-family: Inter;
        margin-bottom: 10px;
        padding-top: 15px;
    }
    h4{
        font-size: 19px;
        font-family: Inter;
    }
    h5{
        font-size: 15px;
        font-family: Gideon Roman;
    }
    h1{
        font-size: 35px;
        font-family: Kaisei Opti;
        margin-bottom: 15px;
        padding: 3px;
    }
    h2{
        font-size: 25px;
        font-family: Inter;
    }
    p{
        font-family: Inter;
        font-size: 100%;
        padding: 20px;
    }

    /*navigation bar*/
    .navbar {
        width: 100%;
        height: 43px;
    }


    nav ul {
        float: none;
        position: fixed;
        z-index: 9;
        left: -100%;
        right: 0;
        top: 50px;
        bottom: 100%;
        width: 30%;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(153, 204, 255, .8);
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .icon-b{
        display: block;
    }
    #check{
        display: none;
    }

    nav ul li a {
        color: black;
        font-size: 18px;
    }

    .icon-b :checked ~ ul{
        bottom: 0;
    }
    #check:checked ~ ul{
        left: 0;
    }

    ul li {
        color: black;
    }

    nav ul li a:hover {
        color: #f54750;
    }

    /* Home */
    .container{
        position: relative;
    }
    .container{
        font-size: 10px;
    }
    .home-portrait{
        position: absolute;
        left: 56%;
        margin: auto;
        bottom: 201px;
        width: 365px;
        height: 383px;
    }
    #profile>img{
        width: 238px;
        height: 238px;

    }
    .home-p{
        position: relative;
        font-size: 18px;
        top:226px;
    }
    /*.container p{*/
    /*    position: absolute;*/
    /*    display: flex;*/
    /*    align-items: flex-end;*/
    /*    bottom: 0%;*/
    /*}*/
/*    About*/
    #About{
        height: 1049px;
    }
    .about-title{
        text-align: center;
        position: relative;
        left: 0;
    }
    /*#about-portrait{*/
    /*    position: absolute;*/
    /*    display: flex;*/
    /*    justify-content: flex-end;*/
    /*}*/
    #about-container>img{
        height: 327px;
        width: 273px;
        left: -17px;
        top: 768px;
    }
    #about-container{
        height: auto;
    }
    #about-text{
        margin-right: 0;
    }
/*    Education*/
    #Education{
        display: block;
    }
    .details{
        width: 309px;
        margin-bottom: 20px;
    }
    #Education h5{
        width: 232px;
        left: 40px;
        position: relative;
    }
    .details-data{
        padding-top: 10px;
    }
    .edu-scl{
        width:100%;
    }
    .star{
        display: none;
    }
.sub-class{
    margin-left: 15px;
}
#skill-img{
    display: contents;

}
/*Services*/
    #categoryS{
        display: contents;
    }
    .box{
        margin-left: 27px;
        margin-bottom: 22px;
    }
    .plans{
        display: contents;
    }
    .pBox{
        margin-left: 27px;
        margin-bottom: 22px;
    }
/*    PROJECTS*/

.backBtn{
    width: 39px;
    height: 48px;
}
.hotelProj{
    width: 216px;
    height: 186px;
}
.download{
    margin-left: 110px;
}
.keelsSMarketProj{
    width: 216px;
    height: 186px;
}
.nextBtn{
    width: 39px;
    height: 48px;
}
.middleC{
    display: block;
    margin-left: 55px;
    margin-right: 55px;
}
.middleC div{
    display: block;
}


/*CONTACT*/
    .topic{
        left: 23%;
    }
    #info{
        display: block;
    }
    .information{
        margin-top: -49px;
    }

}





/*@media all and (min-width:769px) and (max-width:1024px) {*/

/*    !*navigation bar*!*/
/*    nav ul li {*/
/*        padding: 15px 15px;*/
/*        display: inline-block;*/
/*        list-style-type: none;*/
/*        height: 100%;*/
/*    }*/

/*    nav ul li a {*/
/*        color: #333;*/
/*        font-size: medium;*/
/*    }*/
/*}*/
@media all and (min-width: 760px) and (max-width:1150px ){
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;

    }
    /*.hero{
        width: 100%;
        height: 100vh;
    }*/
/*/position - fixed,absolute,relative,sticky,static/*/
    /* display - block,inline,inline-block,flex,grid,inline-grid,flexbox*/

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: flex-end;
        background-color: #A6E6F4;
        z-index: 1;
    }
    body{
        z-index: 0;
    }

    nav{
        display: inline;
    }
    ul {
        height: 100%;
    /*/overflow: hidden;/*/
    }
    nav ul li{
        padding:20px 20px;
        display: inline-block;
        list-style-type: none;
        height: 100%;
    }
    nav ul li a{
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    nav ul li a:hover{
        color: deeppink;
    }

    #check{
        display: none;
    }
    nav .icon-b{
        display: none;
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
    nav .icon-b .lines{
        width: 20px;
        height: 4px;
        background-color: black;
        margin: 5px;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

/*/home section styling/*/
    /* Home */
    .container{
        position: relative;
    }
    .container{
        font-size: 10px;
    }
    .home-portrait{
        position: absolute;
        left: 56%;
        margin: auto;
        top: 200px;
    }
    #profile>img{
        width: 276px;
        height: 269px;

    }
    .home-p{
        position: relative;
        font-size: 204%;
        top: 200px;
    }


    /*/ABOUT/*/
    #About {
        height: auto;
        display: flex;
        justify-content: flex-end;
        background-color: #d1d8e0;

    }

    #About>div:nth-child(2)>h1 {
        font-size: 50px;
        font-family: Kaisei Opti;
        margin-bottom: 20px;
        margin-left: 24%;
        padding: 20px;
    }

    #about-container{
        width: 133%;
        height: 50%;
        position: absolute;
        bottom: 19%;
        left: 10%;
    }

    #about-portrait {
        position: absolute;
        width: 330px;
        height: 567px;
        left: -72px;
        top: 169%;

    }

    #about-text {
        position: relative;
        margin-right: 130px;
    }

    #about-text>div:nth-child(3){
        position: relative;
        left: 36%;
        width: 82%;
        margin: auto;
        top: -6%;
    }

    .about-desc {
        padding: 15px;
        margin-left: 50px;
        list-style-type: disc;
        font-family: Inter;
        font-size: 18px;
        line-height: 24px;
    }


    /*/Education/*/
    #Education {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
        position: relative;
        width: auto;
        height: auto;
        background-size: cover;
        background-color:#d1d8e0;
    }

    h1#desc {
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
        text-align: left;
    }

    .details{
        text-align: center;
        width: 440px;
        height: 150px;
        display: inline-block;
        background: #ecf0f1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        justify-self: center;
        align-self: center;

    }

    .details-data {
        font-family: 'Work Sans';

    }

    #star1 {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    #star2 {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 32%;

    }

    #star3 {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 46%;
    }

    #star4 {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 65%;
    }

    #line {
        left: 0;
        right: 0;
        margin: auto;
        top: 9%;
        height: 72%;
        width: 49%;
        position: absolute;
    }

    #ellipse {
        width: 91%;
        height: 87%;
        /* margin-left: 5%; */
        align-self: end;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        border-radius: 80%;
    }

    #ellipse2 {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
        border-radius: 80%;
        width: 95%;
        height: 81%;
        position: relative;
        top: -23%;
    }

    #ellipse3 {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
        border-radius: 80%;
        width: 90%;
        height: 89%;
    }

    #ellipse4 {
        grid-column: 2 / 2;
        grid-row: 5 / 5;
        border-radius: 80%;
        width: 104%;
        height: 80%;
    }

    /* skills */
    .sub-class{

        grid-row: 6 / 6;
        grid-column: 1 / span 2;


    }
    #skill-img{
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }

    #sub h2 {
        margin-left: 30px;
    }


    .skills{
        position: relative;
        width: 50px;
        height: 50px;
        size: auto;

    }
    /*/Services/*/

    #Services {
        height: auto;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        background-color:#d1d8e0;
        position: relative;
        justify-content: flex-end;

    }
    .serve-headline{
        left: 50%;
    }

    #categoryS {
    /*/position: absolute;/*/
        top: 100px;
        display: flex;
        width: 93%;
        justify-content: space-around;
        background-color: #d1d8e0;
        padding:21px;
    }

    .box {
        padding: 7px;
        background-color: #D9D9D9;
        width: 213px;
        height: 300px;
        border-radius: 5px;
        filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
        transition: all ease 0.2s;

    }

    .ser-name {
        font-family: Inter;
        position: relative;
        margin-left: 29px;
    /*/top: 230px;/*/

    }


    #ui-image{
        width: 194px;
        height: 174px;
    /*/position: absolute;/*/

    }
    #web-image{
        width: 194px;
        height: 180px;
    /*/position: absolute;/*/
    }
    #app-image{
        width: 194px;
        height: 180px;
    /*/position: absolute;/*/
    }

    .box:hover {
        cursor: pointer;
        filter: none;
        transform: scale(0.99);
    }

    .plans{
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color: #d1d8e0;
        padding-bottom: 30px;
    }
    .chose{
        color:orangered;
        padding: 30px;
    }
    .pBox{
        padding:14px;
        background-color: #D9D9D9;
        width: 213px;
        height: 300px;
        border-radius: 25px;
        filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
        transition: all ease 0.2s;
    }
    .ser-plan{
        font-family: cursive;
        position: relative;
        margin-left: 55px;
        font-weight: lighter;
    }
    .plan-list{
        list-style-type: none;
        padding: 8px;
        font-size: 20px;
        line-height: 0.8cm;
        font-family: cursive;
        font-style: italic;


    }
    .plan-fee{
        font-size: 30px;
        margin-left: 55px;
        font-family: cursive;
    }






    /*/Project/*/

    #Projects{
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 0.25fr 1fr 0.25fr;
        grid-template-rows: 0.3fr 1fr 0.5fr;
        background-color:#d1d8e0;
        position: relative;
        background-size: cover;
        justify-content: space-evenly;


    }
    .proj-name{
        position: relative;
    /*/left:45%;/*/
    grid-row: 1/1;
        grid-column: 2/2;
        text-align: center;
    /*/justify-content: space-between;/*/
    padding: 20px;
    }
    .firstC{
        position: relative;
        grid-column: 1/1;
        justify-items: center;
        grid-row: 2/2;
        display: flex;
        justify-self: center;
    }
    .middleC{
        grid-column: 2/2;
        align-items: center;
        display: flex;
        grid-row: 2/2;
        justify-content: center;

    }

    .middleC div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .endC{
        grid-column: 3/3;
        justify-items: center;
        grid-row: 2/2;
        display: flex;
        justify-content: space-around;
    }
    .backBtn{
        width: 55px;
        height: 55px;
        align-self: center;
        place-self: center;

    }
    .nextBtn{
        width: 55px;
        height: 55px;
        align-self: center;
        place-self: center;

    }
    .hotelProj{
        width: 78%;
        height: 20rem;
        align-self: center;
        place-self: center;

    }
    .keelsSMarketProj{
        width: 88%;
        height: 20rem;
        align-self: center;
        place-self: center;

    }
    .endR{
        grid-column: 2/2;
        justify-items: center;
        display: flex;
        grid-row: 3/3;
        justify-content: space-around;
        font-size: 30px;
    }
    .download{
        margin-top: -61px;
        margin-left: 356px;
        border: none;
        color: white;
        padding: 16px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
    /*/margin: 4px 2px;/*/
    transition-duration: 0.4s;
        cursor: pointer;
        top: 300px;
        justify-items: end;
        align-self: end;
        place-self: end;


    }
    .button1{
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        position: absolute;
        top: 76%;
        /* bottom: 62%; */
        /* left: 1%; */
        /* right: 69%; */
        margin-left: 10%;
    }
    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }



    /*/Contact/*/

    #Contacts{
        width: auto;
        height: auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color:#d1d8e0;

    }
    .topic{
        position: relative;
        left: 255px;
        top: 10px;
        font-size: 20px;
        font-family: Inter;


    }
    .location{
        width: 100%;
        left: 30px;
        padding: 30px 20px;
    }

    .location > iframe {
        width: 100%;
    }

    #info{
        padding: 20px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    .my-info{
        font-family: fantasy;

    }
    .info-detail{
        display: inline;
        font-size: 25px;
    }
    .imageC{
        width: 35px;
        height: 35px;
    }
    #info div{
        margin: 15px 0;
    }
    .information{
        margin-top: -151px;
    }
    #sendMsgForm>form {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        column-gap: 100px;
    }

    #sendMsgForm>form>input{
        height: 50px;
        margin: 20px;
    }

    #sendMsgForm>form>input[id='name']{
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }
    #sendMsgForm>form>input[id='email']{
        grid-row: 2 / 2;
        grid-column: 1 / 1;
    }
    #sendMsgForm>form>input[id='subject']{
        grid-row: 3 / 3;
        grid-column: 1 / 1;
    }
    #sendMsgForm>form>textarea{
        grid-row: 4 /  4;
        grid-column: 1 / 1;
        margin: 20px;
    }

    #sendMsgForm>form #contact-btn{
        color: #1c222e;
        all: unset;
        height: auto;
        width: fit-content;
        border-radius: 5px;
        grid-row: 5 / 5;
        grid-column: 1 / 1;
        margin: 20px 20px 20px 150px;
        padding: 0 40px;
        transition: background-color 0.5s;
    }

    #contact #contact-btn:hover {
        color: whitesmoke;
        background-color: #202931;
        cursor: pointer;
        opacity: 0.8;
    }
    /footer/

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        background-color: #d1d8e0;
        padding: 15px;
    }
    .ftrec{
        padding-top: 20px;
        position: center;
        width: 600px;
        height: 60px;
        border-radius: 35px;
        background-color: #92BEC8;
        border: transparent;
        align-items: center;
        justify-content: space-around;
        display: flex;


    }
}
